################################################################################
# General Snipppets
################################################################################

snippet clEp "Changelog Entry - ronan.arraes@inpe.br"
`date +%Y-%m-%d`: Ronan Arraes Jardim Chagas <ronan.arraes@inpe.br>
endsnippet

snippet clEn "Changelog Entry - ronisbr@gmail.com"
`date +%Y-%m-%d`: Ronan Arraes Jardim Chagas <ronisbr@gmail.com>
endsnippet
